
.icon-menu:before { content: '\e800'; } /* '' */
.icon-carita:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
